<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/adapt_screen.css') }}">

    <title>My resume</title>
</head>

<body>
    
    <!--Wrapper-->
    <div class="wrapper">
        <!--Main content -->
        <div class="main-content">
            <!--My info-->
            <div class="my-info">
                <h2 class="my-profeshen">Python Developer</h2>

                <h1 class="my-name">Bohdan Mihlazov</h1>

                <p class="my-descr">Хвацький парубок</p>
                <h2>About me</h2>
                <p class="my-descr">Люблю вирішувати всякі логіко-математичні задачі, не заспокоююсь поки не вирішу помилку навіть якщо на це піде час
                (я вважаю що це +). Мені подобаєть дистанційна форма організації праці, там я почуваю себе більш комфортно
                і можу бути більш продуктивним. Мушу визнати що на опанування нових речей можу витрачати бальше часу ніж хотілося б,
                але вони так краще запам'ятовуються. Я спочатку стрибав з мови на мову: js, с++, а зараз зупинився на python,
                створював різного виду програми: сайти, ігри, телеграм боти(один з них вмів визначати сумісність імен і з цього
                вибудовував
                графіки любовних ліній осіб). В цілому майже за рік мені все ще подобається програмувати, тому хотілося б знайти роботу.
                </p>
            </div>
            <!--My projects-->
            <div class="my-projects-conteiner">
                <h3 class="my-projects-title">Projects</h3>
                <ol class="my-projects-list">
                    <li class="my-project-item">
                        <a class="my-projects-link" href="https://hellen.p.goit.global/"
                            target="_blank"></a>
                        <span class="my-projects-tech"><a class="contacts-linck" href="https://github.com/Badyan54/Resume">Ось цей сайт, він тут</a></span>
                    </li>

                </ol>
            </div>
 


       
            <!--Education-->
            <div>
                <h3 class="my-education-title">Education</h3>
                <p class="my-education-osvita">Colege Nechuya Leviczkogo</p>
                <p class="my-facultet">Low</p>
                <p class="my-education-period">
                    September 2019 - June 2023 <span class="my-education-period-separator">|</span> Country
                </p>
            </div>
        </div>
        <!--Sidebar-->
        <aside class="sidebar">
            <img src="{{ url_for('static', filename = 'img/My_photo.jpg') }}" alt="My photo" width="320px" height="370">
            <div class="saidbar-content">
                <!--Contacts-->
                <div class="skills-row">
                <div class="conteiners-sidebar">
                    <h3 class="sidebar-titles">Contacts</h3>
                    <p class="contacts-item">
                        <span class="contacts-type">C:</span>
                        <a class="contacts-linck" href="tel:+380689631302">+38 068 963 13 02</a>
                    </p>
                    <p class="contacts-item">
                        <span class="contacts-type">E:</span>
                        <a class="contacts-linck" href="mailto:bogdanwov@gmail.com">bogdanwov@gmail.com</a>
                    </p>
                    <p class="contacts-item">
                        <span class="contacts-type">Github:</span>
                        <a class="contacts-linck" href="https://github.com/Badyan54">VFstudio</a>
                    </p>
                </div>

                <!--Tech skillls-->
                <div class="conteiners-sidebar">
                    <h3 class="sidebar-titles">Tech skillls</h3>
                    <ul class="skils-list">
                        <li class="skils-list-item">HTML5</li>
                        <li class="skils-list-item">CSS3</li>
                        <li class="skils-list-item">GIT</li>
                        <li class="skils-list-item">Python</li>
                        <li class="skils-list-item">Django</li>
                        <li class="skils-list-item">Flask</li>
                        <li class="skils-list-item">Pytest</li>
                        <li class="skils-list-item">SQL</li>
                        <!-- <li class="skils-list-item"></li> -->
                    </ul>
                </div>
                </div>
                <!--Soft Skills-->
                <div class="conteiners-sidebar">
                    <h3 class="sidebar-titles">Soft Skills</h3>
                    <ul class="skils-list">
                        <li class="skils-list-item">Scrum</li>
                        <li class="skils-list-item">Agile</li>
                        <li class="skils-list-item">GTD</li>
                        <li class="skils-list-item">Teamwork</li>
                        
                    </ul>
                </div>
            </div>
        </aside>

    </div>
    <div class="comments">

        <div class="comments_chaild">
            <form action="/resume" method="post">
                <textarea type="text" name="commentar" id="" maxlength="200" required>Я хочу від тебе дітей</textarea><br>
                <button type="submit">Comment</button>
            </form>
        
        {% for com in comment %}
        <div class="comment">
            <h4> {{com.NickName}}: </h2>
            <p> {{com.Rang}} </p>
            <h6> {{ com.comment }}</h6>
        </div>
        {% endfor %}
    </div>
    </div>
</body>

</html>


